body {
  font-family: sans-serif;
  font-size: 14px;
}
.header {
  padding: 20px 0;
}
.content {
  padding: 50px 0;
}
.logo {
  color: blueviolet;
  flex: 0.7;
}
.score {
  text-align: right;
}
.title {
  font-size: 22px;
  font-weight: bold;
}
.button {
  border: 0;
  border-radius: 4px;
  background-color: darkmagenta;
  color: white;
  padding: 2px 10px;
  margin: 3px 0;
}
.button:hover {
  opacity: 0.7;
}

.hint {
  color: black;
}

.highscores {
  list-style: none;
}

.highscore {
  background-color: lightgray;
  padding: 5px;
  margin-bottom: 5px;
}
.hide {
  display: none;
}

#user {
  margin: 50px 50px;
}
#question {
  margin: 50px 50px;
}

#greeting {
  margin: 50px 50px;
}

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}

li {
  list-style: none;
}

#question-options {
  padding-left: 0;
}
#highscores {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: lightgrey;
  font-size: 1.5em;
  line-height: 1.5;
}

.high-scores{
  padding: 0;
}